# Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env
.env.local
.env.*.local
.env.development
.env.production
*.local

# Prisma
prisma/dev.db*
# ⚠️ NO ignorar migrations

# Build
dist/
dist-ssr
build/

# Temp
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
.idea

# Coverage
coverage/

# Others
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?